<div><app-cabecera (newItemEvent)="select($event)" [informe] = "informe"></app-cabecera></div>

<div>
    <!--table class="table table-striped table-striped-sm table-fit table-bordered table-hover"-->
    <table class="table table-sm table-secondary table-striped table-fit table-bordered">
        <thead>
          <tr>
            <th>id</th>
            <th>latitud</th>
            <th>longitud</th>
            <th>depth</th>
            <th>mag</th>
            <th>type</th>
            <th>no</th>
            <th>origin_time</th>
            <th>author</th>
            <th>agency</th>
            <th>creation_time</th>
            <th>reference</th>
            <th>mode</th>
            <th>status</th>
            <th>mail</th>
            <th>retardo_pub</th>
            <!--th>retardo_mail</th-->
            <th>perceived</th>     
       
            <th>mayor_5</th>
            <th>mayor_20</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of data |paginate: { itemsPerPage: 15, currentPage: p }">
            <td>{{d.ide}}</td>
            <td>{{d.latitude | number}}</td>
            <td>{{d.longitude | number}}</td>
            <td>{{d.depth | number}}</td>
            <td>{{d.mag | number}}</td>
            <td>{{d.type}}</td>
            <td>{{d.station_count}}</td>
            <td>{{d.origin_time | date:'medium' }}</td>
            <td>{{d.author}}</td>
            <td>{{d.agency}}</td>
            <td>{{d.creation_time | date:'medium' }}</td>
            <td>{{d.reference}}</td>
            <td>{{d.evaluation_mode}}</td>
            <td>{{d.evaluation_status}}</td>
            <td>{{d.mail}}</td>
            <td>{{d.retardo_pub | number}}</td>

            
            <!--td>{{d.retardo_mail | number}}</td-->
            <td>{{d.perceived}}</td>
         
            <td>{{d.mayor_5}}</td>
            <td>{{d.mayor_20}}</td>
          </tr>
        </tbody>
      </table>

</div>
<div class="col" style="background-color:whitesmoke;">
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
